.commentContainer, .commentContainerAlt {
  display: flex;
  padding: 10px 20px;
  margin: 0px 8px 8px 0px;
/*  background-color: var(--secondary);*/
  border-radius: 0px 25px 25px 25px;
}

.commentContainerAlt {
/*  background-color: var(--secondaryVariant);*/
}