.hookContainer, .hookContainerAlt {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  border-radius: 16px 0px 16px 16px;
  margin: 0px 0px 8px 8px;
  background-color: lightblue;
}

.hookContainerAlt {
  background-color: lightcoral;
}

.claimButton {
  color: red;
}