.hookContainer, .hookContainerAlt {
  display: flex;
  padding: 10px 20px;
  border-radius: 25px 0px 25px 25px;
  margin: 0px 0px 8px 8px;
/*  background-color: var(--secondary);*/
}

.hookContainerAlt {
/*  background-color: var(--secondaryVariant);*/
}