.loggedInUser {
	display: flex;
}

.img {
	max-width: 60px;
	max-height: 60px;
	background-color: var(--onSecondary);
	border-radius: 5px;
	margin-right: 8px;
}

.userName {
	color: var(--onPrimary);
	margin-right: 8px;
}

.logoutButton {
	width: 100px;
	color: var(--onPrimary);
	background-color: var(--primaryVariant);
}

.logoutButton:hover {
	color: var(--onSecondary);
	background-color: var(--secondary);
}