.loggedInUser {
	display: flex;
}

.img {
	max-width: 60px;
	max-height: 60px;
	background-color: var(--primary);
	border-radius: 5px;
	margin-right: 8px;
}

.userName {
}

.logoutButton {
	margin: 8px;
}