.loggedInUser {
	display: flex;
	margin: 8px;
	height: 100%;
}

.img {
/*	width: 88px;*/
/*	height: 88px;*/
	margin: 4px;
}

.userName {
	padding: 4px;
}

.logoutButton {
	height: 56px;
	width: 16px;
}