.mainContainer {
  width: 100%;
  height: 98vh;
  background-color: blue;
}

.headerBlank {
  height: 7%;
  background-color: red;
}

.bodyContainer {
  height: 93%;
  background-color: purple;
}

.gameName {
  height: 5%;
  background-color: hotpink;
}

.sidebar {
  background-color: pink;
}

.interfaceContainer {
  height: 100%;
  background-color: orange;
}

.chatWindow {
  height: 85%;
  background-color: green;
}

.textEntryContainer {
  height: 10%;
  background-color: lime;
}

.textInput {
  height: 100%;
  background-color: lime;
}

.textsubmit {
  height: 100%;
  background-color: lime;
}