* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.menu {
  height: 100vh;
  width: 20%;
  background-color: hsl(294, 68%, 31%);
}
.content {
  width: 80%;
  height: 100vh;
  background-color: hsl(294, 68%, 34%);
  display: flex;
  justify-content: center;
  align-items: center;
}
